In [1]:
# string

In [4]:
# simple prints with quote

In [5]:
name1 = "jagdish"
name2 = "suhas"
name3 = "ganpat"
name4 = "sanket"
name5 = "santosh"

print(name1,name2,name3,name4,name5,name1)

jagdish suhas ganpat sanket santosh jagdish

In [27]:
print('\n\t',name1.upper())

	 JAGDISH

In [28]:
print('\n\t\t\t\n\t\n',name5.upper())

 SANTOSH

In [6]:
# upper , lower , title

In [7]:
print(name1.upper(),name2.lower(),name3.title(),name4.upper(),name5.lower())

JAGDISH suhas Ganpat SANKET santosh

In [8]:
# Quotes :- single , double, triple

In [10]:
# single quote :- print only one line are use 


A1 = 'manthan'
print(A1)

manthan

In [11]:
# Double quote :- only one line are use 

A2 = "prakash"
print(A2)

prakash

In [12]:
# Triple Quote :- Multiples lines are use

In [13]:
A3 = '''shri guru charan sroj nijman mukur sudahr
baranu raghu bimal jasu do jayk fal chari
budhi hin tanu janike sumiro pavan kumar 
balabudhi vidya dehu mohi are kalesh bikar 
jai haunman gyan gun sagar jai kapis tainu lok ujagar 
ram duth ati lit bal dhama anjani putr pavan sukh nama
'''
print(A3)

shri guru charan sroj nijman mukur sudahr
baranu raghu bimal jasu do jayk fal chari
budhi hin tanu janike sumiro pavan kumar
balabudhi vidya dehu mohi are kalesh bikar
jai haunman gyan gun sagar jai kapis tainu lok ujagar
ram duth ati lit bal dhama anjani putr pavan sukh nama

In [14]:
# New line and tab delimiter

In [17]:
# 1. type

name = "1 din" "\n1 ladka aya " "\n\t\tuse bhot bhukh lagi thi"
print(name)

1 din
1 ladka aya
		use bhot bhukh lagi thi

In [18]:
# 2. type 


print("1 din" "\n1 ladka aya" "\n\t\tuse bhot bhukh lagi thi")

1 din
1 ladka aya
		use bhot bhukh lagi thi

In [19]:
# 3. type 


print("1 din")
print("\n\t\t1 ladka aya")
print("\n\t\t\t\tuse bhot bhukh lagi thi")

1 din

		1 ladka aya

				use bhot bhukh lagi thi

In [20]:
print("1 din".upper())
print("\n\t\t1 ladka aya".lower())
print("\n\t\t\t\tuse bhot bhukh lagi thi".title())

1 DIN

		1 ladka aya

				Use Bhot Bhukh Lagi Thi

In [21]:
# f string

In [26]:
na1 = "BjP"
na2 = "aap"
na3 = "congress"
na4 = "shivsena"
na5 = "rashtravadhi congress"

name = f'{na1.upper()} {na2.upper()} {na3.lower()} {na4.title()} {na5.lower()}'

print(name)

BJP AAP congress Shivsena rashtravadhi congress

In [29]:
# White space

In [30]:
# there are three types :-  lstrip , rstrip , strip

In [35]:
# lstrip :- only left white space are remove 


na5me7 = "                  rohit"
print('\t\t\t\t',na5me7)
print(na5me7.lstrip())
print(na5me7.lstrip().upper())

				                   rohit
rohit
ROHIT

In [37]:
# rstrip :- only right white space are remove 


name1 = "babuji           "

print(name1.rstrip())
print('\t\t\t\t\t\t\n\n\n\t\t',name1.upper())
print(name1.rstrip().upper())

babuji



		 BABUJI
BABUJI

In [42]:
# strip :- remove all white space


name3 = "             rani             "
print(name3.strip())


name3 = "rani"
print('\t\t\t\t\t',name3.title())


name3 = "rani"
print('\n\n\t\t\t\t\t',name3.strip())

rani
					 Rani


					 rani

In [43]:
                   # LIST

In [44]:
# List :- use in "append" "insert" "indexing" "delete"

In [45]:
name_1 = ["rohit", "mohit", "aniket", "prajwal", "rahul", "varun", "vipul", "ashu"]
print(name_1)

['rohit', 'mohit', 'aniket', 'prajwal', 'rahul', 'varun', 'vipul', 'ashu']

In [47]:
# APPEND :- add element in last position 


name_1.append("gajanan".upper())
print(name_1)

['rohit', 'mohit', 'aniket', 'prajwal', 'rahul', 'varun', 'vipul', 'ashu', 'GAJANAN', 'GAJANAN']

In [50]:
# INSERT :- add element in any position 


name_1.insert(5,'vitthal'.upper())
print('\t\t\t',name_1)

			 ['rohit', 'mohit', 'aniket', 'prajwal', 'rahul', 'VITTHAL', 'VITTHAL', 'varun', 'vipul', 'ashu', 'GAJANAN', 'GAJANAN']

In [55]:
# DELETE :- delete any element  


del name_1[5]
print(name_1)

['rohit', 'mohit', 'aniket', 'prajwal', 'rahul', 'vipul', 'ashu', 'GAJANAN', 'GAJANAN']

In [58]:
# INDEXING :- seprating any elements 

print(name_1[0])

rohit