In [1]:
print("a")

a

In [2]:
print("1")

1

In [4]:
# but 
print(a)
# it is error because a is not define

NameError: name 'a' is not defined

In [6]:
# that is no. no. ko difine nahi bhi kiya to chlta hai 
print(1)

1

In [7]:
# :- whenever we type any latterwe have to put in it quates 
# :- if it is numarical then we do not need the quates

In [8]:
print("hello world")

hello world

In [9]:
print(3+3)

6

In [10]:
print(1000)

1000

In [11]:
print("1000")

1000

In [13]:
# i have addition but they have not addition this is only side by side because you have entering in quates

a="5"
b="8"
print(a+b)

58

In [17]:
# thats a true value because no quates on any no. 

a=5
b=8
print(a+b)

13

In [18]:
print(a-b)

-3

In [19]:
print(a*b)

40

In [20]:
print(a/b)

0.625

In [22]:
student=["sanket","jagdish","dhananjay","pnchameshvar"]
print(student)

['sanket', 'jagdish', 'dhananjay', 'pnchameshvar']

In [25]:
print(student[1])

jagdish

In [26]:
student[1]

'jagdish'

In [28]:
# because they have no quates aon any elements they inclides sepretly quates 


student1=[prakash,santosh,madhukar,rajendra,]
print(student1)

NameError: name 'prakash' is not defined

In [30]:
student1=["prakash","santosh","madhukar","rajendra",]
print(student1)

['prakash', 'santosh', 'madhukar', 'rajendra']

In [31]:
print(student1[3])

rajendra

In [32]:
student1=["prakash,santosh,madhukar,rajendra"]
print(student1)

['prakash,santosh,madhukar,rajendra']

In [33]:
print(student1[0])

prakash,santosh,madhukar,rajendra

In [36]:
print(student1[1])

IndexError: list index out of range

In [38]:
student1="[prakash,santosh,madhukar,rajendra]"
print(student1)

[prakash,santosh,madhukar,rajendra]

In [39]:
print(student1[1])

p

In [40]:
print(student1[4])

k

In [41]:
type(student1)

str

In [42]:
type(student)

list

In [44]:
student2=['narayan','dinesh','ganesh','bhola','konbola']
print(student2)

['narayan', 'dinesh', 'ganesh', 'bhola', 'konbola']

In [46]:
print(student2[4])

konbola

In [57]:
print(student2[1],student2[2],sthdent[3])

NameError: name 'sthdent' is not defined

In [58]:
print(student[1],[2])

jagdish [2]

In [62]:
print(student2[1],student2[2],student2[4],student2[3])

dinesh ganesh konbola bhola

In [66]:
print(student2[1].title(),student2[2].upper(),student2[4].lower(),student2[3].upper())

Dinesh GANESH konbola BHOLA

In [69]:
name=['bhongade','dhkate','nagpure']

In [74]:
# Req : - we want to add a new name (element) ===> "mangesh"

name.append('mangesh')
print(name)

['bhongade', 'dhkate', 'nagpure', 'mangesh', 'mangesh']

In [76]:
name.append("bankar")
print(name)

# so now we observe that whenever we use "append" the element is added up in the last position

['bhongade', 'dhkate', 'nagpure', 'mangesh', 'mangesh', 'bankar', 'bankar']

In [80]:
# ASK :- If we want to add the name / element to the position of our choice 

# or can we add the element to a index of our choice 

name.insert(3,'mangesh')
print(name)

['bhongade', 'dhkate', 'nagpure', 'mangesh', 'salman', 'salman', 'salman', 'mangesh', 'mangesh', 'bankar', 'bankar']

In [82]:
name1=['bhongade','dhkate','nagpure']
name1.insert(0,"raju")
print(name1)

['raju', 'bhongade', 'dhkate', 'nagpure']

In [2]:
name1.insert(31,"naresh")
Print(name1)

NameError: name 'name1' is not defined

In [6]:
name.isert(3,'rohit')
name

NameError: name 'name' is not defined

In [12]:
name.insert(5,'rohit')
print(name)

NameError: name 'name' is not defined