In [2]:
8+9

17

In [3]:
name=['jitendra','gajendra','vikky']
name.insert('ganpat')
print(name)

TypeError: insert expected 2 arguments, got 1

In [7]:
# that means the any insert element add any one position and agin the print same command but same potion thet have insert differnt name because i have yose in same code not a use in output code i have use output code and insert any potion for any ward then program run in diffrant way bcause the one element are lso add 


name=['jitendra','gajendra','vikky']
name.insert(0,'ganpat')
print(name)

['ganpat', 'jitendra', 'gajendra', 'vikky']

In [8]:
name=['jitendra','gajendra','vikky']
name.insert(2,'nilama')
print(name)

['jitendra', 'gajendra', 'nilama', 'vikky']

In [9]:
name=['jitendra','gajendra','vikky']
name.insert(1,'champak')
print(name)

['jitendra', 'champak', 'gajendra', 'vikky']

In [12]:
name_1=['jagdish','mamu','lakda bhai','devendra']
name_1.append('chandu bhau'.upper())
name_1.insert(1,'guruji'.upper())
print(name_1)

['jagdish', 'GURUJI', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU']

In [13]:
#  Req : - now i want to delete an element

In [14]:
name02=['jagdish', 'GURUJI', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU']
del name02[1]
print(name02)

['jagdish', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU']

In [ ]:
# use in delete command isert and append command use

In [18]:
name02=['jagdish', 'GURUJI', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU']
name02.append('santosh')
name02.insert(2,'gaurav'.title())
del name02[1]
print(name02)

['jagdish', 'Gaurav', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU', 'santosh']

In [20]:
# because i use in delete command yhis error is depent also bracket i use circular bracket but right bracket use in square bracket 


name02=['jagdish', 'GURUJI', 'mamu', 'lakda bhai', 'devendra', 'CHANDU BHAU']
name02.append('santosh')
name02.insert(2,'gaurav'.title())
del name02(1)
print(name02)

SyntaxError: cannot delete function call (<ipython-input-20-cd5647abf892>, line 7)

In [27]:
#  i use differant differnt comand but use in print option for sepret command and all are run then the output is creat in back to back line not a singl line. but i dont use in print option for differnt differnt command  and i use in codung on continuse order then output is give to single line

In [28]:
name03=['parag','navneet','amar','rahul','bhart','nikesh']
print(name03)

name03.append('purshotam')
print(name03)

name03.insert(3,'paji'.upper())
print(name03)

del name03[6]
print(name03)

['parag', 'navneet', 'amar', 'rahul', 'bhart', 'nikesh']
['parag', 'navneet', 'amar', 'rahul', 'bhart', 'nikesh', 'purshotam']
['parag', 'navneet', 'amar', 'PAJI', 'rahul', 'bhart', 'nikesh', 'purshotam']
['parag', 'navneet', 'amar', 'PAJI', 'rahul', 'bhart', 'purshotam']

In [29]:
name03=['parag','navneet','amar','rahul','bhart','nikesh']
print(name03)
name03.append('purshotam')
print(name03)
name03.insert(3,'paji'.upper())
print(name03)
del name03[6]
print(name03)

['parag', 'navneet', 'amar', 'rahul', 'bhart', 'nikesh']
['parag', 'navneet', 'amar', 'rahul', 'bhart', 'nikesh', 'purshotam']
['parag', 'navneet', 'amar', 'PAJI', 'rahul', 'bhart', 'nikesh', 'purshotam']
['parag', 'navneet', 'amar', 'PAJI', 'rahul', 'bhart', 'purshotam']